body {
 background-color: #EEEEEE;
}

h5 {
    color: #00ADB5;
}

hr {
    color: #00ADB5;
}


.container{
    color:aliceblue
}

.container-fluid {
    background-color: #00ADB5;
    color: #EEEEEE;
}


/* .row{
    height: 120px;
    width: auto;
    background-color: black;
    margin-top: 5px;
} */


.left-sidebar-div {
    background-color: rgb(126, 2, 2);
   height: 50px;
}



.body-section-div {
    background-color: blue;
    height: 500px;
}

.right-sidebar-div{
    background-color: rgb(61, 122, 0);
    height: 100px;
}

.ABout-us-div{
    color: #393E46;
}

.Social-media-div {
    color: #393E46;
}

.list-unstyled {
    text-decoration: none;
}


.contact-us-div {
    color: #393E46;
}


@media (max-width: 767px) {
    /* Styles for mobile devices */
    body {
      background-color: #EEEEEE;
      font-size: 14px;
    }
    
    .container-fluid {
        padding:5px;
        background-color: #00ADB5;
        /* margin-left: 2%;
        margin-right: 5px; */
    }
    .left-sidebar-div {
        display: none;
      }

.body-section-div {
        width: 95%;
        margin-top: 2px;
        margin-left: 2.5%;
        margin-bottom: 5px;
        
      }
      .right-sidebar-div {
        margin-top: 5px;
        margin-left: 2.5%;
        margin-bottom: 5px;
        width: 95%;
      }

   .footer-container {
       .right-sidebar-div {
        margin-top: 5px;
        margin-left: 5%;
        margin-bottom: 5px;
   }


 }
  

  @media (min-width: 768px) {
    /* Styles for larger screens (PC users) */
    body {
      font-size: 16px;
    }

    .container-fluid {
        padding-left: 50px;
        padding-right: 120px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

  }