body {
 background-color: aquamarine;
}





.left-sidebar-div {
    background-color: red;
}


.body-section-div {
    background-color: blue;
}

.right-sidebar-div{
    background-color: chartreuse;
}



