body {
    background-color: #F8F0E5;
}

.container-fluid {
    /* background-color: #EADBC8; */
    background-color: #4FBDBA;

}

.navbar-brand {
    color:#102C57;
}
/* Body Section CSS */

/* .color-box {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 10px;
  } */

.left-sidebar-div {
background-color: rgb(153, 248, 145);
height: 100px;
}

.body-section-div {
background-color: rgb(218, 157, 116);
height: 1000px;
}

.right-sidebar-div {
background-color: rgb(159, 159, 255);
height: 100px;
}


 @media (max-width: 767px) {
    /* Styles for mobile devices */
    body {
      background-color: #F8F0E5;
      font-size: 14px;
    }
    
    .container-fluid {
        margin-top: -7px;
        margin-bottom: -5px;
    }


  

  @media (min-width: 768px) {
    /* Styles for larger screens (PC users) */
    body {
      background-color: #F8F0E5;
      font-size: 16px;
    }

    .container-fluid {
        padding-left: 50px;
        padding-right: 120px;
        padding-top: 5px;
        padding-bottom: 5px;
    }




  }